body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.header {
    height: 110px;
    padding: 15px 0;
}

.navbar {
    display: flex;
    background-color: #0000000f !important;
    height: 80px;
    padding: 10px 40px;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.dropdown-toggle::after {
    display: none;
}

.navbar .btn .main {
    height: 1px;
    flex-grow: 1;
}

.films {
    display: flex;
    flex-wrap: wrap;
    /* gap: 20px; */
    padding: 50px 0;
}

.film {
    position: relative;
    height: 300px;
    width: 150px;
    margin-bottom: 30px;
    border-radius: 7.5px !important;
    box-sizing: content-box;
    transition: all ease-out 0.15s;
}

.card {
    position: absolute;
    height: 300px;
    width: 150px;
    box-sizing: content-box;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all ease-out 0.15s;
}

.card:hover {
    height: 340px;
    width: 170px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: all ease-in 0.15s;
}

.card h6 {
    font-size: 0.8rem;
    transition: all ease-out 0.15s;
}

.card:hover h6 {
    font-size: calc(0.8rem * (170 / 150));
    transition: all ease-in 0.15s;
}

.card-header {
    min-height: 150px;
    padding: 0;
    border-radius: 7.5px 7.5px 0 0 !important;
    box-sizing: content-box;
}

.card-header img {
    min-height: 150px;
    width: 100%;
    object-fit: cover;
    border-radius: 7.5px 7.5px 0 0 !important;
}

.card-body {
    padding: 10px;
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
}

.card-button {
    position: absolute;
    background: transparent;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
}

.modal .modal-dialog {
    max-width: none;
    width: 900px;
}

.modal .modal-content {
    border: none;
}

.modal .modal-body {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 480px;
    padding: 0px;
}

.modal .modal-body button {
    position: absolute;
    top: 16px;
    right: 16px;
}

.modal .movie-title {
    padding-right: 24px;
}

.modal .modal-body .movie-image {
    aspect-ratio: 3/4;
    height: 480px;
    padding: 16px;
    border-radius: 0.5rem;
}

.modal .modal-body .movie-image img {
    height: 448px;
    aspect-ratio: 3/4;
    border-radius: 0.5rem;
    object-fit: cover;
    object-position: center;
}

.modal .movie-content {
    width: 100%;
    padding: 16px 16px 16px 0;
}

.modal .movie-tags,
.modal .movie-links {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-bottom: 5px;
}

.modal .movie-links a {
    text-decoration: none;
}

.modal .movie-tags .movie-tag,
.modal .movie-links .movie-link {
    display: block;
    background-color: rgb(138, 43, 226, 0.3);
    width: fit-content;
    height: 16px;
    border-radius: 8px;
    padding: 4px;
    line-height: 12px;
    box-sizing: content-box;
    margin-right: 4px;
    text-decoration: none;
    color: black;
}